
<div class="header"> 
	<div class="container"> 
		<div class="row align-items-center"> 
			<div class="menu col-8"> 
				<ul> 
					<li><a href="/">Welcome</a></li> 
					<li><a href="portfolio">Portfolio</a></li> 
					<li><a href="https://medium.com/about-codecademy">Blog</a></li>
					<li><a href="about">About</a></li> 
					<li><a href="contact">Contact</a></li> 
				</ul> 
			</div> 
			<div class="name col-4"> 
				<h1>Eva Stolz</h1> 
			</div> 
		</div> 
	</div> 
</div>

<div class="main home"> 
	<div class="jumbotron"> 
		<div class="container"> 
			<h2>Hello. My name is <span class="highlight">Eva Stolz</span> and I am learning to code.</h2> 
			<a class="btn right" href="portfolio">View my Work</a> 
		</div> 
	</div> 
</div>

<div class="footer"> 
	<div class="container"> 
		<ul class="social_media"> 
			<li><a class="github" href="#"></a></li> 
			<li><a class="linkedin" href="#"></a></li> 
			<li><a class="xing" href="#"></a></li> 
		</ul> 
		<p>© 2018 Eva Stolz</p> 
	</div> 
</div>