
<div class="main home"> 
	<div class="jumbotron"> 
		<div class="container"> 
			<h2>Hello. My name is <span class="highlight">Eva Stolz</span> and I am learning to code.</h2> 
			<a class="btn right" href="portfolio">View my Work</a> 
		</div> 
	</div> 
</div>

