<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Eva Stolz</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header"> 
      <div class="container"> 
        <div class="row"> 
          <div class="menu col-8"> 
            <ul> 
              <li><a href="/">Welcome</a></li> 
              <li><a href="portfolio">Portfolio</a></li> 
              <li><a href="https://medium.com/about-codecademy">Blog</a></li>
              <li><a href="about">About</a></li> 
              <li><a href="contact">Contact</a></li> 
            </ul> 
          </div> 
          <div class="name col-4"> 
            <h1>Eva Stolz</h1> 
          </div> 
        </div> 
      </div> 
    </div>

    <%= yield %>

    <div class="footer"> 
      <div class="container"> 
        <ul class="social_media"> 
          <li><a class="github" href="https://github.com/eva7180" target="_blank"></a></li> 
          <li><a class="linkedin" href="https://www.linkedin.com/in/eva-stolz-1b6bb543/" target="_blank"></a></li> 
          <li><a class="xing" href="https://www.xing.com/profile/Eva_Stolz2/cv?sc_o=mxb_p" target="_blank"></a></li> 
        </ul> 
        <p>© 2018 Eva Stolz</p> 
      </div> 
    </div>

  </body>
</html>
